@page
@model _222542Y_Assignment.Pages.PasswordExpiredModel

@{
    ViewData["Title"] = "PasswordExpired";
}
<h1>PasswordExpired</h1>
<h3 class="text-danger">
    Your Password has Expired Please
    <a asp-page="/ChangePassword">
        reset your password by clicking here
    </a>
</h3>